h1{ 
font-family: 'Be Vietnam', sans-serif;
 color: white;
 font-size: 100px;

background-image: url("https://images.unsplash.com/photo-1553235784-51c0618c545e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
background-repeat: no-repeat;
width: 100vw;
height: 80vh;
padding: 30px;
}
#banner {
	text-align: center;
}

#banner1 {
	text-align: center;
padding-top: 30px;
}

h2{ 
font-family: 'Be Vietnam', sans-serif;
 color: #214E34;
 font-size: 30px;
 padding: 15px;
}
p{
	font-family: 'roboto';
	color: black;
	font-size: 15;
}
h3{ 
font-family: 'Be Vietnam', sans-serif;
 color: #5C7457;
 font-size: 30px;
}
p1{
	font-family: 'roboto';
	color: black;
	font-size: 25px;
	padding:15px ;
}

.bla {color:orange;
}
.list {padding-left: 50px;}
.bla1{ text-align: center; }

#footer{ color: #214E34; 
font-size: 40px;
text-align: center;
padding-top: 20px;}





